<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <form action="/perform_query" method="post" enctype="multipart/form-data">
        <input type="text" name="file_name" value="apache_logs.txt"><br>
        <input type="text" name="cmd1" value="map">
        <input type="text" name="value1" value="0"><br>
        <input type="text" name="cmd2" value="sort">
        <input type="text" name="value2" value="asc"><br>
        <input type="submit">
    </form>

</body>
</html>